/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea
/theme.iml
*.iml

# Native
/META-INF
/reports
dartclj-aarch64-darwin
dartclj-aarch64-linux

# Lint
.clj-kondo/*
!.clj-kondo/config.edn
.lsp/
