[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/plugins/start/ack.vim"]
	path = .vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/plugins/start/vim-notes"]
	path = .vim/pack/plugins/start/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule ".vim/pack/plugins/start/vim-misc"]
	path = .vim/pack/plugins/start/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/pack/plugins/start/vim-one"]
	path = .vim/pack/plugins/start/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule ".vim/pack/plugins/start/vimwiki"]
	path = .vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/pack/plugins/start/terminus"]
	path = .vim/pack/plugins/start/terminus
	url = https://github.com/wincent/terminus.git
[submodule ".vim/pack/plugins/start/vim-sexp"]
	path = .vim/pack/plugins/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule ".vim/pack/plugins/start/vim-autoformat"]
	path = .vim/pack/plugins/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/cljfold.vim"]
	path = .vim/pack/plugins/start/cljfold.vim
	url = https://github.com/gberenfield/cljfold.vim.git
[submodule ".vim/pack/plugins/start/vim-sexp-mappings-for-regular-people"]
	path = .vim/pack/plugins/start/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/supertab"]
	path = .vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/pack/plugins/start/kotlin-vim"]
	path = .vim/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule ".vim/pack/plugins/start/vim-orgmode"]
	path = .vim/pack/plugins/start/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule ".vim/pack/plugins/start/vim-speeddating"]
	path = .vim/pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/pack/plugins/start/vim-SyntaxRange"]
	path = .vim/pack/plugins/start/vim-SyntaxRange
	url = https://github.com/inkarkat/vim-SyntaxRange.git
[submodule ".vim/pack/plugins/start/android-log.vim"]
	path = .vim/pack/plugins/start/android-log.vim
	url = https://github.com/yanqd0/android-log.vim.git
[submodule ".vim/pack/plugins/start/vim-calc"]
	path = .vim/pack/plugins/start/vim-calc
	url = https://github.com/theniceboy/vim-calc.git
[submodule ".vim/pack/plugins/start/coc.nvim"]
	path = .vim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/pack/plugins/start/vim-iced"]
	path = .vim/pack/plugins/start/vim-iced
	url = https://github.com/liquidz/vim-iced.git
[submodule ".vim/pack/plugins/start/vim-iced-coc-source"]
	path = .vim/pack/plugins/start/vim-iced-coc-source
	url = https://github.com/liquidz/vim-iced-coc-source.git
[submodule ".vim/pack/plugins/start/neoterm"]
	path = .vim/pack/plugins/start/neoterm
	url = https://github.com/kassio/neoterm.git
