.clojure/.cpcache/
.vim/undo
.vim/.netrwhist
.vim/autoload/plug.vim

# for vim temp files
*~
*.swp
*.swo

.lsp/
.clj-kondo/

# Logs
*.log

# Karabiner generated/stateful files
.config/karabiner/automatic_backups/
