[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-multiple-cursors"]
	path = .vim/pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/plugins/start/ack.vim"]
	path = .vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/plugins/start/vim-notes"]
	path = .vim/pack/plugins/start/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule ".vim/pack/plugins/start/vim-misc"]
	path = .vim/pack/plugins/start/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/pack/plugins/start/vim-one"]
	path = .vim/pack/plugins/start/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule ".vim/pack/plugins/start/vimwiki"]
	path = .vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/pack/plugins/start/tslime.vim"]
	path = .vim/pack/plugins/start/tslime.vim
	url = https://github.com/sjl/tslime.vim.git
[submodule ".vim/pack/plugins/start/rainbow"]
	path = .vim/pack/plugins/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule ".vim/pack/plugins/start/terminus"]
	path = .vim/pack/plugins/start/terminus
	url = https://github.com/wincent/terminus.git
[submodule ".vim/pack/plugins/start/vim-sexp"]
	path = .vim/pack/plugins/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule ".vim/pack/plugins/start/vim-autoformat"]
	path = .vim/pack/plugins/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule ".vim/pack/plugins/start/vim-slime"]
	path = .vim/pack/plugins/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/cljfold.vim"]
	path = .vim/pack/plugins/start/cljfold.vim
	url = https://github.com/gberenfield/cljfold.vim.git
[submodule ".vim/pack/plugins/start/vim-sexp-mappings-for-regular-people"]
	path = .vim/pack/plugins/start/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-fireplace"]
	path = .vim/pack/plugins/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule ".vim/pack/plugins/start/vim-clojure-static"]
	path = .vim/pack/plugins/start/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/pack/plugins/start/vim-clojure-highlight"]
	path = .vim/pack/plugins/start/vim-clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight.git
