" see all commands for mapping with :actionlist
" to update idea, type              :source ~/.ideavimrc

source ~/.vimrc

set backspace=indent,eol,start
set visualbell
set ideavimsupport=+singleline,dialog
set ideajoin
set NERDTree
set highlightedyank
set commentary
set surround
set matchit
set ReplaceWithRegister
set which-key
set notimeout

"VIM HOTKEYS
    nmap << :tabm-1<cr>    
    nmap >> :tabm+1<cr>    

    nnoremap g; :action JumpToLastChange<cr>
    nmap = :action ReformatCode<Cr>
    vmap = :action ReformatCode<Cr>

    nmap <space>0 :action ActivateCommitToolWindow<cr>
    nmap <space>1 :action SelectInProjectView<cr>
    nmap <space>2 :action ActivateBookmarksToolWindow<cr>
    nmap <space>3 :action ActivateFindToolWindow<cr>
    nmap <space>4 :action ActivateRunToolWindow<cr>
    nmap <space>5 :action ActivateDebugToolWindow<cr>
    nmap <space>6 :action ActivateServicesToolWindow<cr>
    nmap <space>7 :action ActivateBuildToolWindow<cr>
    nmap <space>8 :!open /Applications/WezTerm.app --args start --cwd `pwd` --always-new-process<cr>
    nmap <space>9 :action ActivateVersionControlToolWindow<cr>

    let g:relative_number_set = 1
    function! ToggleRelativeNumber()
        if g:relative_number_set
            set relativenumber
            let g:relative_number_set = 0
        else
            set norelativenumber
            let g:relative_number_set = 1
        endif
    endfunction
    nmap <space>tn :call ToggleRelativeNumber()<CR>

    nnoremap <D-a> ggVG
    xnoremap <D-a> <Esc>ggVG
    inoremap <D-a> <Esc>ggVG

"PLUGINS SETUPS
    set ideamarks
    "needs ideavim extension plugin
    set keep-english-in-normal-and-restore-in-insert
    set highlightedyank

    nnoremap <C-n> :action codeium.i<cr>
    nnoremap <C-p> :action codeium.j<cr>

"NAVIGATION
    set path+=**


    "SPACEMACS-LIKE
        nnoremap <space>b :action RecentFiles<cr>
        nnoremap <space>pb :action RecentFiles<cr>
        nnoremap <space>pt :action ActivateProjectToolWindow<cr>
        nnoremap <space>d :q<cr>
        nnoremap <space>wu :action ReopenClosedTab<cr>
        nnoremap <space>pf :action GotoFile<cr>
        nnoremap <space>pa :action GotoSymbol<cr>
        nnoremap <space>a :action CloseAllEditors<cr>
        nnoremap <space>ga :action Annotate<cr>
        nnoremap <space>gb :action Git.Branches<cr>
        nnoremap <space><tab> :e#<cr>
        nnoremap <space>ba :action CloseAllEditorsButActive<cr>
    "CIDER-LIKE
        
    "SEARCH
        hi Search ctermfg=3

    "GIT
        nnoremap gn :action VcsShowNextChangeMarker<cr>
        nnoremap gN :action VcsShowPrevChangeMarker<cr>
        nnoremap gs :action Vcs.ApplySelectedChanges<cr>
        nnoremap <space>gr :action Vcs.RollbackChangedLines<cr>

"SYNTAX
    "INDENTS
        set fdm=indent
    "ERRORS
        nnoremap ]s :action GotoNextError<cr>
        nnoremap [s :action GotoPreviousError<cr>
        nnoremap <tab> :action GotoNextError<cr>
        nnoremap <s-tab> :action GotoPreviousError<cr>

    "SPACEMACS-LIKE
        map <space>; :action CommentByLineComment<cr>
        nnoremap <Leader>k :action Run<cr>
        nnoremap <Leader>dr :action Debug<cr>
        nnoremap <Leader>de :action EvaluateExpression<cr>
        vnoremap <Leader>de :action EvaluateExpression<cr>
        nnoremap <Leader>sq :action Stop<cr>
        "android complements
        nnoremap <Leader>sg :action ExternalSystem.ProjectRefreshAction<cr>
        nnoremap <Leader>db :action ToggleLineBreakpoint<cr>
        nnoremap <Leader>h :action QuickJavaDoc<cr>
        nnoremap <Leader>rfu :action FindUsages<cr>
        nnoremap <Leader>= :action ReformatCode<cr>
        nnoremap <Leader>rr :action RenameElement<cr> 
        nnoremap <Leader>ra :action Refactorings.QuickListPopupAction<cr> 

        "CLOJURE-EDITING
            map <C-l> :action :cursive.actions.paredit/move-form-down<cr>
            map <C-h> :action :cursive.actions.paredit/move-form-up<cr>
            set iskeyword=@,48-57,_,192-255,-,—,–,*,!,+,=,<,>,$
            nnoremap <Leader>rtf :action :cursive.actions.paredit/thread-form<cr>
            nnoremap <Leader>@ :action :cursive.actions.paredit/splice<cr>
            nnoremap <space>kr :action :cursive.actions.paredit/raise<cr>
            nnoremap <space>kB :action :cursive.actions.paredit/barf-backwards<cr>
            nnoremap <space>kb :action :cursive.actions.paredit/barf-forwards<cr>
            nnoremap <space>kS :action :cursive.actions.paredit/slurp-backwards<cr>
            nnoremap <space>ks :action :cursive.actions.paredit/slurp-forwards<cr>
            nnoremap <space>ke :action :cursive.actions.paredit/splice-killing-backwards<cr>
            nnoremap <space>kE :action :cursive.actions.paredit/splice-killing-forwards<cr>
            nmap <Leader>o :action :cursive.actions.paredit/raise<cr>
            nmap <Leader>O :action :cursive.actions.paredit/raise<cr>
            vnoremap <Leader>o :action :cursive.actions.paredit/raise<cr>
            vnoremap <Leader>O :action :cursive.actions.paredit/raise<cr>

        "CLOJURE-REPL
            nnoremap <Leader>i :action :cursive.repl.actions/interrupt<cr>
            nnoremap <Leader>sp :action :cursive.repl.actions/jump-to-output<cr>
            nnoremap <Leader>lv :action :cursive.repl.actions/jump-to-repl<cr>
            nnoremap <Leader>ls :action :cursive.repl.actions/jump-to-repl<cr>
            " nnoremap <Leader>b :action :cursive.repl.actions/load-file<cr>
            " nnoremap <Leader>em :action :cursive.repl.actions/macroexpansion<cr>
            " nnoremap <Leader>se :action :cursive.repl.actions/run-last-sexp<cr>
            nnoremap <Leader>sv :action :cursive.repl.actions/send-selection<cr>
            nnoremap <Leader>sf :action :cursive.repl.actions/run-top-sexp<cr>
            nnoremap <Leader>e :action Clj.Stuff.EvaluateTopForm<cr>
            nnoremap <Leader>b :action :cursive.repl.actions/switch-namespace<cr>
            nnoremap <Leader>sx :action :cursive.repl.actions/sync-files<cr>
            nnoremap <Leader>q :action Clj.Stuff.EvaluatePrevForm<cr>
            nnoremap <Leader>lr :action :cursive.repl.actions/clear-repl<cr>
            "https://www.reddit.com/r/Clojure/comments/lzx0zb/did_you_know_that_ideacursive_repl_results_may_be/
            nnoremap <space>e :action Cursive.Repl.Command.eval-to-file<cr> :action Synchronize<cr>

        "LISP-FORMS WRAP/SELECT
            nmap <Leader>a :action :cursive.actions.paredit/wrap-paren<cr>
            vnoremap <Leader>w :action :cursive.actions.paredit/wrap-paren<cr>
            nmap <Leader>] :action :cursive.actions.paredit/wrap-square<cr>
            nmap <Leader>[ :action :cursive.actions.paredit/wrap-square<cr>
            vnoremap <Leader>] :action :cursive.actions.paredit/wrap-square<cr>
            vnoremap <Leader>[ :action :cursive.actions.paredit/wrap-square<cr>
            nmap <Leader>" :action :cursive.actions.paredit/wrap-quotes<cr>
            vnoremap <Leader>" :action :cursive.actions.paredit/wrap-quotes<cr>
            nmap <Leader>} :action :cursive.actions.paredit/wrap-curly<cr>
            nmap <Leader>{ :action :cursive.actions.paredit/wrap-curly<cr>
            vnoremap <Leader>} :action :cursive.actions.paredit/wrap-curly<cr>
            vnoremap <Leader>{ :action :cursive.actions.paredit/wrap-curly<cr>
            nnoremap <Leader>c :action InsertClojureCommentAtTheFormStart<cr>
            nnoremap vaf :action SelectAForm<cr>
            nnoremap vif :action SelectInForm<cr>
            nnoremap daf :action DeleteAForm<cr>
            nnoremap dif :action DeleteInForm<cr>
            nnoremap yaf :action YankAForm<cr>
            nnoremap yif :action YankInForm<cr>
            nnoremap caf :action ChangeAForm<cr>i
            nnoremap cif :action ChangeInForm<cr>i
            nnoremap <space>f :action :cursive.actions.paredit/cycle-collection-type<cr>

        "CLOJURE-TESTS
            nnoremap <Leader>tx :action :cursive.testing.actions/remove-test-markers<cr>
            nnoremap <Leader>tr :action :cursive.testing.actions/rerun-last-test <cr>
            nnoremap <Leader>tn :action :cursive.testing.actions/run-ns-tests <cr>
            nnoremap <Leader>tc :action :cursive.testing.actions/run-single-test<cr>

"END
