startup_commands toggle_custom_color
default_dark_mode 1
ruler_mode 0
visual_mark_next_page_fraction 0.0
visual_mark_next_page_threshold 1.0

# new_command _read_visual_line say   "%{line_text}"     -r 270 -v Milena
# new_command _read_selected_text say "%{selected_text}" -r 270 -v Milena

new_command _read_visual_line say   "%{line_text}"     -r 225
new_command _read_selected_text say "%{selected_text}" -r 215

new_command _read_kill killall say

# === CATPPUCCIN MOCHA === #
background_color           #1e1e2e

# text_highlight_color       #f9e2af
visual_mark_color          0.8 0.4 0.4 0.2

search_highlight_color     #f9e2af
link_highlight_color       #89b4fa
synctex_highlight_color    #a6e3a1

highlight_color_a          #f9e2af
highlight_color_b          #a6e3a1
highlight_color_c          #89dceb
highlight_color_d          #eba0ac
highlight_color_e          #cba6f7
highlight_color_f          #f38ba8
highlight_color_g          #f9e2af


custom_background_color    #1e1e2e
custom_text_color          #cdd6f4

ui_text_color              #cdd6f4
ui_background_color        #313244
ui_selected_text_color     #cdd6f4
ui_selected_background_color #585b70
