{:main [{:des "aerospace remappings"
         :rules [[:!CTm      :!SO1]
                 [:!CTcomma  :!SO2]
                 [:!CTperiod :!SO3]
                 [:!CTj      :!SO4]
                 [:!CTk      :!SO5]
                 [:!CTl      :!SO6]
                 [:!CTu      :!SO7]
                 [:!CTi      :!SO8]
                 [:!CTo      :!SO9]

                 [:!CQf :!Of]
                 [:!CQe :!Oe]
                 [:!CQr :!Or]]}
        {:des "Numbers"
         :rules [[:!T##u      :7]
                 [:!T##i      :8]
                 [:!T##o      :9]
                 [:!T##j      :4]
                 [:!T##k      :5]
                 [:!T##l      :6]
                 [:!T##m      :1]
                 [:!T##comma  :2]
                 [:!T##period :3]
                 [:!T##p      :0]]}

        {:des "vim"
         :rules [[:!Cx :!T6 [:neovide]]
                 [:!Cq :!Oq [:neovide]]
                 [:!Cr :!Tr [:terminalish]]
                 [:!Cc :!Tc [:wezterm]]
                 [:!SOhyphen :!SChyphen [:neovide]]

                 ;; cursor move/delete
                 [:!OQo :!Tw [:terminalish]]
                 [:!CQo :!Tu [:terminalish]]
                 [:!OQh :!Sleft_arrow [:neovide]]
                 [:!OQl :!Sright_arrow [:neovide]]
                 [:!CQh :home [:codish]]
                 [:!CQl :end [:codish]]]}

        {:des "hotkeys"
         :rules [;; arrow keys
                 [:!Q##j :down_arrow]
                 [:!Q##k :up_arrow]
                 [:!Q##h :left_arrow]
                 [:!Q##l :right_arrow]

                 ;; main hotkeys
                 [:!C##d :return_or_enter]
                 [:!Q##o :delete_or_backspace]
                 [:!Qi :right_shift]
                 [:!Ce :left_shift]
                 [:!Cquote :grave_accent_and_tilde]
                 [:!Squote :!Sgrave_accent_and_tilde]
                 [:!Qquote :!Rquote]

                 [:!Q##m :tab]
                 [:!C##escape :!Ctab] ;; cmd+caps -> cmd+tab

                 ;; tabs
                 [:!Qcomma :!CSopen_bracket [:!neovide]]
                 [:!Qperiod :!CSclose_bracket [:!neovide]]

                 ;; special symbols
                 [:!Qp :equal_sign]    ; =
                 [:!Qw :!Requal_sign]  ; +
                 [:!Qe :hyphen]        ; -
                 [:!Qt :!Shyphen]      ; _
                 [:!Qr :!S8]           ; *
                 [:!Qt :!Shyphen]       ; _
                 [:!Qc :!S3]           ; #
                 [:!Qq :!S2]           ; @
                 [:!Qn :!S5]           ; %
                 [:!Cu :!S1]           ; !
                 [:!Qu :!Sbackslash]   ; |
                 [:!Qslash :backslash] ; \

                 ;; brackets
                 [:!Qa :!S9]
                 [:!Qf :!S0]
                 [:!Qs :!Sopen_bracket]
                 [:!Qd :!Sclose_bracket]
                 [:!Ci :open_bracket]
                 [:!Co :close_bracket]]}

        {:des "quick app open"
         :rules [
                 [:!Eg "open /Applications/Google\\ Chrome.app"]
                 [:!Ei "/bin/zsh `open /Applications/IntelliJ\\ IDEA.app`"]
                 [:!Et "open /Applications/Telegram\\ Lite.app/"]
                 [:!En ["/bin/zsh `open /Applications/Neovide.app`" :select_abc]]
                 [:!Ew ["/bin/zsh `open /Applications/WezTerm.app`" :select_abc]]
                 [:!Cg ["/bin/zsh `open /Applications/Neovide.app -n --args --frame transparent`" :select_abc]]
                 [:!Es ["/bin/zsh `open /Applications/sioyek.app`"]]

                 [:!CQg "open /Applications/Google\\ Chrome.app"]
                 [:!CQi "/bin/zsh `open /Applications/IntelliJ\\ IDEA.app`"]
                 [:!CQt "open /Applications/Telegram\\ Lite.app/"]
                 [:!CQn ["/bin/zsh `open /Applications/Neovide.app`" :select_abc]]
                 [:!CQw ["/bin/zsh `open /Applications/WezTerm.app`" :select_abc]]
                 [:!CQg ["/bin/zsh `open /Applications/Neovide.app -n --args --frame transparent`" :select_abc]]
                 [:!CQs ["/bin/zsh `open /Applications/sioyek.app`"]]

                 #_[:!Cg ["open /Applications/Neovide.app -n --args --multigrid" :select_abc]]
                 ]}

        {:des "system scripts"
         :rules [[:!SOw [:theme "w"]]
                 [:!SOb [:theme "b"]]
                 [:!Qv  :!OSc]
                 [:!TO1 [:select_abc "~/docker_and_repl.sh 1"]]
                 [:!TO2 [:select_abc "~/docker_and_repl.sh 2"]]
                 [:!TO3 [:select_abc "~/docker_and_repl.sh 3"]]]}

        ;; !  | means mandatory    Q  | right_command
        ;; #  | means optional     W  | right_control
        ;; C  | left_command       E  | right_option
        ;; T  | left_control       R  | right_shift
        ;; O  | left_option        P  | caps_lock
        ;; S  | left_shift         !! | mandatory CTOS|QWER (hyper)
        ;; F  | fn                 ## | optional any

        ]

 :simlayers {:wm-mode-focus {:key :f}
             :wm-mode-move {:key :d}
             :wm-mode-open {:key :o}
             :wm-mode-warp {:key :w}
             :wm-mode-size {:key :s}}

 :input-sources {:abc {:input_source_id "^com\\.apple\\.keylayout\\.ABC$"
                       :language "en"}
                 :ru  {:input_source_id "^com\\.apple\\.keylayout\\.RussianWin$"
                       :language "ru"}}
 :tos {:select_abc [{:input :abc}]
       ;; for some reason, when I used :select_ru, any further :select_abc also selects :ru
       :select_ru [{:input :ru}]}

 :templates {:theme "~/dotfiles/scripts/darkmode.sh %s"
             :yabai-win "/opt/homebrew/bin/yabai -m window %s"
             :yabai-space "/opt/homebrew/bin/yabai -m space %s"
             :yabai-size "/opt/homebrew/bin/yabai -m window --resize %s ||
                          /opt/homebrew/bin/yabai -m window --resize %s"}

 :applications {:neovide ["^com.neovide.neovide$"]
                :wezterm ["^com.github.wez.wezterm$"]
                :terminalish ["^com.apple.Terminal$"
                              "^com.neovide.neovide$"
                              "^com.github.wez.wezterm$"]
                :codish ["^com.apple.Terminal$"
                         "^com.neovide.neovide$"
                         "^com.github.wez.wezterm$"
                         "^com.google.android.studio$"
                         "^com.jetbrains.WebStorm$"
                         "^com.jetbrains.intellij$"
                         "^com.jetbrains.intellij.ce$"]
                :idea ["^com.jetbrains.intellij.ce$"
                       "^com.jetbrains.intellij$"]
                :as ["^com.google.android.studio$"]}}
