{:aliases 
 {:REPL
  {:extra-deps {nrepl/nrepl       {:mvn/version "0.9.0"}
                cider/cider-nrepl {:mvn/version "0.28.5"}}
   :main-opts  ["-m" "nrepl.cmdline" ;"--port" "14563" 
                "--middleware" "[\"cider.nrepl/cider-middleware\"]"]}

  :test {:extra-paths ["test"]}}}
