{:aliases 
 {:nrepl
  {:extra-deps 
   {org.clojure/clojure {:mvn/version "1.11.1"}
    nrepl/nrepl {:mvn/version "1.1.0-alpha1"}
    refactor-nrepl/refactor-nrepl {:mvn/version "3.5.5"}
    cider/cider-nrepl {:mvn/version "0.28.6"}
    criterium/criterium {:mvn/version "0.4.6"}
    com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.2"}
    com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.3.301"}
    com.github.jpmonettas/flow-storm-inst {:mvn/version "3.3.301"}}
   :main-opts  
   ["-m" "nrepl.cmdline" ;"--port" "14563" 
    "--middleware" 
    "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}

  :add-libs 
  {:extra-deps {org.clojure/tools.deps.alpha ; add-lib3 branch
                {:git/url "https://github.com/clojure/tools.deps.alpha"
                 :sha "e4fb92eef724fa39e29b39cc2b1a850567d490dd"}}}

  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "LATEST"}}}}}
