{:aliases 
 {
  :nrepl
  {:extra-deps {nrepl/nrepl       {:mvn/version "0.9.0"}
                cider/cider-nrepl {:mvn/version "0.28.5"}}
   :main-opts  ["-m" "nrepl.cmdline" ;"--port" "14563" 
                "--middleware" "[\"cider.nrepl/cider-middleware\"]"]}

  :add-libs 
  {:extra-deps {org.clojure/tools.deps.alpha ; add-lib3 branch
                {:git/url "https://github.com/clojure/tools.deps.alpha"
                 :sha "e4fb92eef724fa39e29b39cc2b1a850567d490dd"}}}

  :test 
  {:extra-paths ["test"]}
  }}
